<%- include('partials/header') %>

<div class="form-container">
  <form action="<%= editTransaction ? `/update-transaction/${editTransaction.id}` : '/add-transaction' %>" method="POST">
    <input type="hidden" name="id" value="<%= editTransaction ? editTransaction.id : '' %>" />

    <div class="form-group">
      <label class="form-label">Title</label>
      <input type="text" name="title" class="form-input" placeholder="Enter Title" value="<%= editTransaction ? editTransaction.title : '' %>" required />
    </div>

    <div class="form-group">
      <label class="form-label">Amount</label>
      <input type="number" name="amount" class="form-input" placeholder="Enter Amount" value="<%= editTransaction ? editTransaction.amount : '' %>" required />
    </div>

    <div class="form-group">
      <label class="form-label">Type</label>
      <select name="type" class="form-select" required>
        <option value="income" <%= editTransaction && editTransaction.type === 'income' ? 'selected' : '' %>>Income</option>
        <option value="expense" <%= editTransaction && editTransaction.type === 'expense' ? 'selected' : '' %>>Expenses</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label">Category</label>
      <input type="text" name="category" class="form-input" placeholder="Enter Category" value="<%= editTransaction ? editTransaction.category : '' %>" required />
    </div>

    <button class="form-submit-button">
      <%= editTransaction ? "Update Transaction" : "Save Transaction" %>
    </button>
    <a href="/transactions" class="back-to-transactions-link">Back to Transactions</a>
  </form>
</div>

<%- include('partials/footer') %>
